html
    include ../resource
    include ../navigator
    link(rel="stylesheet" type="text/css" href='/stylesheets/topic/createTopic.css')
    link(rel="stylesheet" type="text/css" href='/editor-md/css/editormd.css')
    script(src='/editor-md/editormd.min.js')
    div.row
        div.col-md-9.col-sm-9
            div.panel.panel-default.content-panel-left
                div.panel-heading 发布话题
                div.panel-body
                    div.rows
                        div.col-md-12.no-padding
                            div.col-md-1.v-center-text
                                span 选择板块:
                            div.col-md-4
                                select#group.form-control
                                    option(value=1) 论坛
                                    option(value=2) 问答
                                    option(value=3) 作品
                    div.rows
                        div.col-md-12.topic-splite
                            input#title.form-control(type="text" placeholder="标题字数10字以上")
                            p.text-danger#title-warning(style='display:none')
                    div.rows
                        div.col-md-12.topic-splite
                            div#editormd
                    div.rows
                        div.col-md-12.topic-splite
                            button#commit.btn.btn-primary 提交

    script(src='/javascripts/topic/createTopic.js')