doctype html
html(lang='en')
  include ./resource
  link(rel="stylesheet" type="text/css" href='/stylesheets/user/userPanel.css')
  include ./navigator
  div.row
    div.col-md-9.col-sm-9
      div.panel.panel-default.content-panel-left
        div.panel-body
          ul.nav.nav-tabs.nav-website(role='tablist')
            li.active(role="presentation")
              a(href='') 论坛
            li(role="presentation")
              a(href='') 问答
            li(role='presentation')
              a(href='') 作品
          div.topic_list
            div.cell
              img.cell-author-img(src='http://www.gravatar.com/avatar/d81c6d1adba59b48138539cc3662d750?s=100')
              span.reply_count 2/33
              span.cell-title Node 内置的 assert 你们有在用吗
              div.last-time
                img.user-small-avatar(src='http://www.gravatar.com/avatar/d81c6d1adba59b48138539cc3662d750?s=100')
                span.last_active_time 13 分钟前



    div.col-md-3.col-sm-3
      if(userinfo)
        include ./user/userPanel
        +userPanel("我的信息",user)

      div.panel.panel-default.content-panel-right
        div.panel-body(style='padding:10px 15px')
          div.col-md-12
            a.btn.btn-success(href='/topic/create') 发布新话题

      div.panel.panel-default.content-panel-right
        div.panel-heading
          div 积分榜
        div.panel-body
