body
    nav.navbar.navbar-default.nav-fixed-top(role="navigation")
        .container-fluid
            .navbar-header
                a.navbar-brand(href="#") JavaScript
            if(userinfo == undefined || userinfo == {})
                ul.nav.navbar-nav.pull-right
                    li.nav-li
                        a(href='/user/login') 登录
                    li.nav-li
                        a(href='/user/register') 注册
                    li.nav-li
                        a(href='/user/register')
            else
                ul.nav.navbar-nav.pull-right
                    li#user-profile.dropdown
                        a.dropdown-toggle(href='#' data-toggle='dropdown')=userinfo.username
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='#') 我的主页
                            li.divider
                            li
                                a(href='/message') 私信
                            li.divider
                            li
                                a(href='user/setting') 个人设置
                            li.divider
                            li
                                a(href='/user/signout') 退出

