head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, user-scalable=no')

    title=title
    meta(name='description', content='JavaScript学习网站')
    meta(name='robots', content='index,follow')
    meta(name='keywords', content='JavaScript,分享，学习，进步')
    //Bootstrap
    link(rel="stylesheet" type="text/css" href='http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css')
    link(rel="stylesheet" type="text/css" href='/stylesheets/index.css')
    script(src='http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js')
    script(src='http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js')
    //Logo
    link(rel='icon' type='image/jpg' href='/images/logo/logo.jpg' sizes='32x32')