html
    include ../resource
    include ../navigator
    div.row
        div.col-md-9.col-sm-9
            div.panel.panel-default.content-panel-left
                div.panel-heading 个人设置
                div.panel-body


    div.row
        div.col-md-9.col-sm-9
            div.panel.panel-default.content-panel-left
                div.panel-heading 密码修改
                div.panel-body
