#writeMessage.modal.fade(style='margin-top: 50px', data-backdrop="static", tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(style='width: 430px',role='document')
        .modal-content
            .modal-header(style='padding:5px 15px')
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h5#updateReaderNumLabel.model-title 发送私信
            .modal-body
                .row
                    .col-md-2.send-to-user 给发:
                    .col-md-8
                        input#send-to-user(type="text" class="form-control" placeholder="Username")
                        span#no-user.text-danger 不存在该用户
                .row.message-write-content
                    .col-md-2.send-message 内容:
                    .col-md-10
                        textarea#message-content(rows='3' class="form-control")
                        span#has-null.text-danger 输入内容为空
            .modal-footer
                button.btn.btn-link(type='button', data-dismiss='modal', aria-label='Close') 取消
                button#sendMessage.btn.btn-primary(type='button') 确定