body{
    background-color: #eee;
    margin: 0px;
}
.no-margin{
    margin: 0px;
}
.no-padding{
    padding: 0px;
}
.nav-li{
    margin-left: 10px;
    margin-right: 10px;
}

#user-profile{
    margin-right: 80px;
}

.nav-website{
    margin: 0px 20px;
}
.content-panel-left{
    float: left;
    margin-left: 40px;
    width: 95%;
}
.content-panel-right{
    float: left;
    width: 90%;
}
