.panel-avatar{
    width: 48px;
    height: 48px;
    border-radius: 4px;
}
.panel-name{
    padding-top: 15px;
}
.user-div {
    margin-top: 10px;
}


.credit_userlist{
    height: 180px;
}
.userCreditName{
    margin-right: 35px;
}