.register-input{
    margin-top: 20px;
    margin-bottom: 20px;
}

#username-tip{
    display: none;
}

#repassword-tip{
    display: none;
}

#username-tip-nouser {
    display: none;
}

#username-tip-nofill{
    display: none;
}

#server-message{
    display: none;
}
#email-tip{
    display: none;
}
